.container {
  background-color: var(--graphite);
  width: 995px;
  height: 1656px;
  color: var(--offwhite);
  padding: 2px 1px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 397px;

  border-radius: 8px;
  margin-bottom: 24px;
}

.title {
  color: var(--highlight-green);
  font-size: 44px;
  line-height: 120%;
}

.subtitle {
  font-size: 37px;
  font-weight: medium;
  line-height: 120%;
  margin-top: 16px;
  margin-bottom: 56px;
}

.content {
  max-width: 800px;
  line-height: 1.6;
  font-size: 22px;
}

.missionSection {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.missionSection div {
  flex: 1;
}

.missionSection h2,
.joinUs h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.missionSection img {
  flex: 1;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.joinUs {
  margin-bottom: 60px;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #333;
  padding-top: 30px;
  width: 100%;
}

.footerLogo img {
  width: 75px;
  height: 87px;
}

.footerLogo p {
  color: var(--medium-gray);
  font-size: 31px;
  line-height: 150%;
  letter-spacing: 0px;
  flex: 1;
  text-align: left;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .missionSection {
    flex-direction: column;
    text-align: center;
  }

  .footerLogo {
    flex-direction: column;
    text-align: center;
  }
}
